site_name: ezAgile

copyright: Copyright &copy; 2020 JongYun Jung

theme:
    name: material
    #name: readthedocs    

    #language: kr

    features:
        - tabs
    
    search_button: true
    
    palette:
        primary: indigo
        accent: red

    # font:
    #     text: Ubuntu
    #     code: Ubuntu Mono

  


nav:
    - Home: index.md
    - Clean Code: 
        - '소개': ccode.md
        - '의미있는 이름': cleancode/meaningful_name.md
        - '함수': cleancode/functions.md
        - '주석': cleancode/comments.md
        - '형식': cleancode/formatting.md
        - '객체와 자료구조': cleancode/objects_data_structure.md
        - '경계': cleancode/boundaries.md
        - '에러 처리': cleancode/error_handling.md
    - TDD:
        - '소개': tdd/intro.md        
        - '실습 환경':
            - 'Java + Intellij': tdd/intellij.md
            - 'Java + Eclipse': tdd/eclipse.md        
            - 'Cpp + Googl test + Visual Studio 2017': tdd/gtest_vstudio.md
        - 'JUnit': 
            - 'JUnit 소개': tdd/junit5_01.md
            - 'JUnit5': tdd/junit5_02.md
        - 'GTest':
            - 'MinGW': effcpp/01_mingw.md
            - 'MinGW + GTest': effcpp/02_gtest_setup.md
            - 'CygWin': effcpp/03_cygwin.md
            - 'Gtest 1': effcpp/04_gtest1.md
            - 'Gtest Adv1': effcpp/05_gtest2.md
            - 'Approval': effcpp/90_approvaltest.md
            - 'CMake': effcpp/99_cmake.md            
    - JAVA:
        - 'New in Java': effjava/intro.md
        - 'Annotations': effjava/annotation.md
        - 'Lambda': effjava/lambda.md
        - 'Module': effjava/module.md
    - Etc:
        - '용어': etc/terms.md
        - 'Git': etc/git.md
    - BigData:
        - '시작': bigdata/00_prepare.md
        - '다운로드': bigdata/01_download.md

plugins:    
    - search

markdown_extensions:
    - toc:
        permalink: "#"
        baselevel: 3
    - markdown.extensions.admonition
    - markdown.extensions.attr_list
    - markdown.extensions.codehilite:
        guess_lang: false
    - markdown.extensions.def_list
    - markdown.extensions.footnotes
    - markdown.extensions.meta
    - markdown.extensions.toc:
        permalink: true
    - pymdownx.arithmatex
    - pymdownx.betterem:
        smart_enable: all
    - pymdownx.caret
    - pymdownx.critic
    - pymdownx.details
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
    # - pymdownx.highlight:
    #     linenums_style: pymdownx-inline
    - pymdownx.inlinehilite
    - pymdownx.keys
    - pymdownx.magiclink:
        repo_url_shorthand: true
        user: squidfunk
        repo: mkdocs-material
    - pymdownx.mark
    - pymdownx.smartsymbols
    - pymdownx.snippets:
        check_paths: true
    - pymdownx.superfences        
    - pymdownx.tabbed
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.tilde
    
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML
  #- https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js
